:root{
    --color-primary: #6533bd ;
    --color-primary-darker: #0c0535;
    --color-secondary: #3b3297;
    --color-accent: #b551c7;
    --color-headings: white;
    --color-body: #cdd2ff; 
    --my-gradient: linear-gradient(90deg, rgba(1,0,27,1) 0%, rgba(148,87,255,1) 100%);
    --my-gradient-light: linear-gradient(90deg, rgba(201,140,243,1) 9%, rgba(228,147,255,1) 32%, rgba(252,252,252,1) 100%);;
}
/*Typography*/
html{
    font-size: 62.5%;  /* 62.5% of 16px = 10px*/
}
body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    background-color: var(--color-body);
}
h1{
    color: var(--color-headings)
}
.dark-color,h2, h3{
    color: var(--color-primary-darker)
}
h1 {
    font-size: 7rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
p{
    margin: 0;
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/*Links*/
a{
    text-decoration: none;
}
.link-arrow{
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.2;
}
.link-arrow:hover::after {
    margin-left: 10px;  
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/*Badges*/
.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}
.badge--small{
    font-size: 1.6rem;
    padding: 0.5rem 1.5rem;
}

.badge--primary{
    background: var(--color-primary);
    color: white;
}
.badge--primary-dark{
    background: var(--color-primary-darker);
    color: white;
}
.badge--secondary{
    background: var(--color-secondary);
    color: white;
}
.badge--accent{
    background-color: var(--color-accent);
    color: white;
}

@media screen and (min-width: 1024px){
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}

/*Lists*/
.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-secondary);
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--check {
    list-style-type: none; /* Remove default bullets */
    margin: 0;
    padding: 0;
}

.list--check li {
    position: relative; /* Establish a positioning context */
    padding-left: 4rem; /* Space for the checkmark */
    margin-bottom: 1rem;
}

.list--check li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: 4rem;    /* Set desired width */
    height: 4rem;   /* Set desired height */
    background-image: url(../assets/icons/check.png); /* Correct image path */
    background-size: contain; /* Scale image to fit */
    background-repeat: no-repeat;
    background-position: center;
}
/*Button*/
a.btn{
    font-weight: 703;
    line-height: 1.2;
}
.btn {
    border-radius: 4rem;
    cursor: pointer;
    border: 0;
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 1rem 0;
    outline: 0;
    padding: 2rem 6vw;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}
.btn--primary {
    background-color: var(--color-primary);
    color: white;
}
.btn--primary:hover {
    background: #8154ce
}

.btn--primary-dark {
    background-color: var(--color-primary-darker);
    color: white;
}
.btn--primary-dark:hover {
    background: #272f6b
}

.btn--secondary {
    background-color: var(--color-secondary);
    color: white;
}
.btn--secondary:hover {
    background: #6960ce;
}

.btn--accent {
    background-color: var(--color-accent);
    color: white;
}
.btn--accent:hover {
    background: #c17bce;
}

.btn--clear {
    background-color: transparent;
    border: .3rem solid var(--color-primary-darker);
    color: transparent; /* Hide text color */
    background-image: var(--my-gradient); /* Change to desired gradient */
    background-clip: text; /* Clip the background to text */
    -webkit-background-clip: text; /* For Safari */
    position: relative; /* Added for positioning */
}
.btn--clear-purple {
    background-color: transparent;
    border: .3rem solid var(--color-accent);
    color: transparent; /* Hide text color */
    background-image: var(--my-gradient-light); /* Change to desired gradient */
    background-clip: text; /* Clip the background to text */
    -webkit-background-clip: text; /* For Safari */
    position: relative; /* Added for positioning */
}
/* Overlay for hover effect */
.btn--clear::before {
    content: '';
    position: absolute;
    border-radius: 4rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(143, 149, 204, 0.5); /* Background color for hover */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s; /* Smooth transition */
    z-index: 0; /* Behind the text */
}

.btn--clear:hover::before {
    opacity: 1; /* Show overlay on hover */
}

.btn--clear span {
    position: relative;
    z-index: 1; /* Ensure text is on top of the overlay */
    color: transparent; /* Hide text color */
    background-image: var(--my-gradient); /* Gradient background for text */
    background-clip: text; /* Clip the background to text */
    -webkit-background-clip: text; /* For Safari */
}
.btn--clear-purple::before {
    content: '';
    position: absolute;
    border-radius: 4rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(240, 211, 237, 0.5); /* Background color for hover */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s; /* Smooth transition */
    z-index: 0; /* Behind the text */
}

.btn--clear-purple:hover::before {
    opacity: 1; /* Show overlay on hover */
}

.btn--clear-purple span {
    position: relative;
    z-index: 1; /* Ensure text is on top of the overlay */
    color: transparent; /* Hide text color */
    background-image: var(--my-gradient-light); /* Gradient background for text */
    background-clip: text; /* Clip the background to text */
    -webkit-background-clip: text; /* For Safari */
}
.btn--block{
    width: 100%;
    display: inline-block;
}
.btn--stretch {
    padding-left: 6rem;
    padding-right: 6rem;
}

@media screen and (min-width: 1024) {
    .btn{
            font-size: 1.5rem;
    }
}

/* Inputs */
.input {
    padding: 1.5rem 3.5rem;
    border: .1rem solid var(--color-primary-darker);
    border-radius: 3rem;
    outline: 0;
    color: var(--color-primary-darker);
    font-size: 2rem;

}
::placeholder{
    color: #cdcbd7; 
}

@media screen  and (min-width: 1024px) {
    .input{
        font-size: 1.5rem;
    }
}

.input-group {
    border: .1rem solid var(--color-primary-darker);
    border-radius: 3rem; 
    background-color: white;
    display: flex;
}
.input-group .input {
    border: 0;
    flex-grow: 1;
    padding: 1.5rem;
}
.input-group .btn {
    margin: 3px;
}

/* Cards */
.card {
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #bcb5da91;
}
.card__header, .card__body {
    padding: 2rem 3rem; 
}
.card-white {
    background-color: white;
}
.card-gradient-dark {
    background: var(--my-gradient);
    color: white;
}
.card-gradient-light {
    background: var(--my-gradient-light);
    color: white;
}
.card-primary-dark {
    background: var(--color-primary-darker);
    color: white;
}
.card-text-dark {
    background-color: white;
    color: var(--color-primary-darker);
}
.card-text-accent {
    background-color: white;
    color: var(--color-accent);
}
.card-text-gradient {
    color: transparent; 
    background-image: var(--my-gradient); 
    background-clip: text; 
    -webkit-background-clip: text; /
}

/* Plans */
.plan{
    border-radius: 1rem;
}
.plan--popular .card__header{
    position: relative;
}
.plan--popular .card__header::before{
    content:url(../assets/icons/popular.svg);
    width: 40px;
    display: inline-block;
    position: absolute;
    top: -6px;
    right: 5%    
}
.plan__name {
    color: white;
    margin: 0;
    font-weight: 500;
    font-size: 2.4rem;
}
.plan__price {
    font-size: 6rem;
}
.plan__billing-cycle {
    font-size: 2.4;
    font-weight: 300;
    opacity: 0.8;
    margin: 1rem;
}
.plan__description{
    font-size: 2rem;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
}
.plan .list__item {
    margin-bottom: 2rem;
}
.plan .list__item-accent{
    color: var(--color-accent);
}

@media screen and (min-width: 1024){
    .plan__name{
        font-size: 1.4rem;
    }
    .plan__price{
        font-size: 5rem;
    }
    .plan__billing-cycle{
        font-size: 1.6rem;
    }
    .plan__description{
        font-size: 1.7rem;
    }
}

/* Media */
.media-icon{
    width: 5rem;
}
.media{
    display: flex;
}
.media__title{
    margin-top: 0;   
}
.media__body{
    margin: 0 2rem;
}
.media__image{
    margin-top: 0.8rem;
}
.media-header-color{
    color: var(--color-primary);
}
.media-p-color {
    color: white;
}

/* Quotes */
.quote{
    font-style: italic;
    font-size: 2rem;
    color: var(--color-secondary);
    line-height: 1.3;
    margin-left: 4rem;
}
.quote__text::before {
    content: open-quote;
    margin:0 1rem;
}
.quote__text::after{
    content: close-quote;
    margin: 0 1rem;
}
.quote__text-name {
    font-size: 3rem;
    font-weight: 500;
    color: var(--color-secondary);
    margin: 0;
}
.quote__text-description{
    font-size: 2rem;
    color: var(--color-primary);
    opacity: 0.5;
    font-style: normal;
}
#line{
    position: relative;
    bottom: 10px;
    width: 5rem;
    margin-left: 4rem;
}

@media screen and (min-width: 1024px){
    .quote{
        font-size: 2rem;
    }
    .quote__text-name {
        font-size: 2.4rem;
    }
    .quote__text-description {
        font-size: 1.6rem;
    }
}
.grid{
    display: grid;
}

@media screen and (min-width: 768px) {
    .grid__cols-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .grid__cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
} 

/* Icons */
.icon {
    width: 40px;
    height: 40px;
}
.icon--white{
    fill: white;    
}
.icon-container {
    background: var(--color-primary);
    width: 64px;    
    height: 64px;
    border-radius:100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Testimonials */
.testimonial { 
    padding: 3rem;
}

.testimonial__image > img{
    width: 100%;
}

.testimonial__image {
    position: relative;
}

.testimonial__image > .icon-container {
    position: absolute;
    top: 3rem;
    right: -32px;
}

@media screen and (max-width: 768px) {
    .testimonial{
        padding: 3rem 4.5rem;
    }
    blockquote{
        margin: 2rem 0 !important;
    }
    .testimonial .quote__text{
        font-size: 2rem;
        line-height: 1.5;
    }
    .testimonial .quote__text-name{
        font-size: 2rem;
    }
    .testimonial #line {
        bottom: 17px;
        width: 3.7rem;
        margin-left: 0;
    }
    .testimonial .quote__text-description{
        font-size: 1.5rem;
    }
    .testimonial .icon{
        width: 25px;
        height: auto;
    }
}

/* Callouts */
.callout {
    padding: 4rem ;
    border-radius: 5px;
}
.callout--primary {
    background: var(--my-gradient);
    color: var(--color-body)
}
.callout__heading{
    color: white;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 3rem
}
.callout .btn {
    justify-self: center;
    align-self: center;
}
.callout__p {
    margin-bottom: 2rem;
    font-size: 2.5rem;
}
.callout__content {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .callout .grid__cols-2{
        grid-template-columns: 1fr auto;
    }
    .callout__content{
        text-align: left;
    }
    .callout .btn {
        justify-self: start;
        margin: 0 3rem;
    }
}
/* Collapsible */
.collapsible__header {
    display: flex;
    justify-content: space-between;
}
.collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
}
.collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
}
.collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
}
.collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
}
.collapsible--expanded .collapsible__content {
    max-height: 100vh; 
    opacity: 1;  
}
