:root{
    --color-primary: #6533bd ;
    --color-primary-darker: #050a30;
    --color-secondary: #3b3297;
    --color-accent: #b551c7;
    --color-headings: white;
    --color-body: #cdd2ff; 
    --my-gradient: linear-gradient(90deg, rgba(1,0,27,1) 0%, rgba(148,87,255,1) 100%);
    --my-gradient-light: linear-gradient(90deg, rgba(201,140,243,1) 9%, rgba(228,147,255,1) 32%, rgba(252,252,252,1) 100%);;
}
/*Typography*/
html{
    font-size: 62.5%;  /* 62.5% of 16px = 10px*/
}
body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    background-color: var(--color-body);
}
h1{
    color: var(--color-headings)
}
.dark-color,h2, h3{
    color: var(--color-primary-darker)
}
h1 {
    font-size: 7rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3rem;
}
p{
    margin: 0;
}

@media screen and (min-width: 1024px) {
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size: 2.4rem;
    }
}

/*Links*/
a{
    text-decoration: none;
}
.link-arrow{
    color: var(--color-accent);
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}
.link-arrow::after{
    content: "-->";
    margin-left: 5px;
    transition: margin 0.2;
}
.link-arrow:hover::after {
    margin-left: 10px;  
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/*Badges*/
.badge{
    border-radius: 20px;
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    white-space: nowrap;
}
.badge--small{
    font-size: 1.6rem;
}

.badge--primary{
    background: var(--color-primary);
    color: white;
}
.badge--primary-dark{
    background: var(--color-primary-darker);
    color: white;
}
.badge--secondary{
    background: var(--color-secondary);
    color: white;
}
.badge--accent{
    background-color: var(--color-accent);
    color: white;
}

@media screen and (min-width: 1024px){
    .badge{
        font-size: 1.5rem;
    }
    .badge--small{
        font-size: 1.2rem;
    }
}

/*Lists*/
.list{
    list-style: none;
    padding-left: 0;
    color: var(--color-primary-darker);
}

.list--inline .list__item{
    display: inline-block;
    margin-right: 2rem;
}

.list--check {
    list-style-type: none; /* Remove default bullets */
    margin: 0;
    padding: 0;
}

.list--check li {
    position: relative; /* Establish a positioning context */
    padding-left: 4rem; /* Space for the checkmark */
    margin-bottom: 1rem;
}

.list--check li::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Center vertically */
    width: 4rem;    /* Set desired width */
    height: 4rem;   /* Set desired height */
    background-image: url(../assets/icons/check.png); /* Correct image path */
    background-size: contain; /* Scale image to fit */
    background-repeat: no-repeat;
    background-position: center;
}

